<ion-header>
  <ion-toolbar class="backgroud-element-style">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Tarifas</ion-title>
    <!-- <ion-menu-button slot="end"></ion-menu-button> -->
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page backgroud-style">


    <ion-list>

      <ion-row>
        <ion-col size="12">
          <ion-segment color="warning" scrollable value="cash">
            <ion-segment-button layout="icon-start" value="car">
              <ion-label>Cantidad</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start" value="cash">
              <ion-label>Valor Unitario</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-segment color="warning" scrollable value="cash">
            <ion-segment-button layout="icon-start" value="car">
              <ion-icon name="car"></ion-icon>
              <ion-label>>500</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start" value="cash">
              <ion-icon name="cash"></ion-icon>
              <ion-label>$3.750</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-segment color="warning" scrollable value="cash">
            <ion-segment-button layout="icon-start" value="car">
              <ion-icon name="car"></ion-icon>
              <ion-label>101 a 500</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start" value="cash">
              <ion-icon name="cash"></ion-icon>
              <ion-label>$5.050</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-segment color="warning" scrollable value="cash">
            <ion-segment-button layout="icon-start" value="car">
              <ion-icon name="car"></ion-icon>
              <ion-label>51 a 100</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start" value="cash">
              <ion-icon name="cash"></ion-icon>
              <ion-label>$6.050</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-segment color="warning" scrollable value="cash">
            <ion-segment-button layout="icon-start" value="car">
              <ion-icon name="car"></ion-icon>
              <ion-label>31 a 50</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start" value="cash">
              <ion-icon name="cash"></ion-icon>
              <ion-label>$7.450</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-segment color="warning" scrollable value="cash">
            <ion-segment-button layout="icon-start" value="car">
              <ion-icon name="car"></ion-icon>
              <ion-label>21 a 30</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start" value="cash">
              <ion-icon name="cash"></ion-icon>
              <ion-label>$8.650</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-segment color="warning" scrollable value="cash">
            <ion-segment-button layout="icon-start" value="car">
              <ion-icon name="car"></ion-icon>
              <ion-label>11 a 20</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start" value="cash">
              <ion-icon name="cash"></ion-icon>
              <ion-label>$9.650</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-segment color="warning" scrollable value="cash">
            <ion-segment-button layout="icon-start" value="car">
              <ion-icon name="car"></ion-icon>
              <ion-label>1 a 10</ion-label>
            </ion-segment-button>
            <ion-segment-button layout="icon-start" value="cash">
              <ion-icon name="cash"></ion-icon>
              <ion-label>$9.990</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
      </ion-row>

      


    </ion-list>

  
</ion-content>
