.backgroud-style{
    --background: linear-gradient(135deg, rgba(17,92,127,1) 0%, rgba(90,140,255,1) 100%);
}
.sc-ion-label-md-h{
    color: white !important;
}

.toolbar-style{
    --background: #FFC928 !important;
    padding: 15px;
}

.backgroud-element-style{
    --background: #FFC928 !important;
}

.list-md{
    padding-top:0px;
    padding-bottom: 0px;
    background: transparent;
}

.list-style{
    ion-list{
        --background: #FFC928 !important;
        padding: 0px;
        margin: 0px;
    }
    ion-item{
        --background: #FFC928 !important;
        // color: white;
    }
}

.card-background-page {
    ion-card {
        background: transparent;
        text-align: center;
        padding: 0px 0px 0px 0px;
        margin: 50px 0px 50px 0px;
        height: 100%;
        position: absolute;
    }
    h1{
        --background: transparent;
        color: white;
        font-weight: bold;
        padding: 0px;
    }
    ion-label{
        // white-space: normal;
        color: white;
        // text-align: justify;
        padding: 0px;
    }
    ion-list{
        --background: transparent;
        padding:25px;
        margin: 0px;
    }
    ion-item{
        --background: transparent;
        --border-color: white;
        padding: 0px 20px 0px 20px;
        margin: 80px 0px 0px 0px;
    }
    ion-input{
        // --background: white;
        // margin-left: 10px ;
        // font-size: 12px;
        // border-radius: 50px;
        --color:white !important;
        --border-color:white;
        --highlight-color-focuse:white;
    }
    // ion-input:before{
    //     --color:white;
    // }
    button{
        background: transparent;
    }
    ion-icon{
        width: 30px;
        height: 30px;
    }
}

.btn-style{
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
}