<ion-header>
  <ion-toolbar class="backgroud-element-style">
    <ion-title>Inicio</ion-title>
    <ion-menu-button slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="backgroud-style card-background-page">

  <ion-card>
    <ion-img src="../../../assets/img/logo_colombia_taxis.png"></ion-img>
        <ion-label>
          <ion-text color="light">
            Plataforma movil para la administración de 
            <ion-text color="warning">
              taxis.
            </ion-text>
             Por medio de ella podrá registrar tarifas y gastos para conocer la 
            <ion-text color="warning">
              rentabilidad de sus vehículos,
            </ion-text>
              teniendo la posibilidad de realizar controles, comparaciones y mediciones, que le permitirá tomar 
            <ion-text color="warning">
              decisiones
            </ion-text>  
            frente al manejo. Además de tener siempre 
            <ion-text color="warning">
              a la mano
            </ion-text>  
              la información detallada de los vehículos, conductores, proveedores, documentos, consignaciones y hasta duración de repuestos por tiempo y Km.
          </ion-text>
        </ion-label>
  </ion-card>
      
      <!-- <ion-button class="btn-style" (click)="modulos()" color="medium" expand="block" shape="round">
        CONOCE MÁS
      </ion-button> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button color="light">
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-menu side="start" type="push" contentId="main">

    <ion-header class="backgroud-element-style">
      <ion-toolbar class="toolbar-style" >
        <ion-title>
          <img src="../../../assets/img/logo_colombia_taxis.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="backgroud-element-style">
      <ion-list class="list-style">

        <!-- <ion-item (click)="inicio()" lines="full">
          <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
          Inicio
        </ion-item> -->
        <ion-item (click)="modulos()" lines="full">
          <ion-icon slot="start" name="newspaper-outline"></ion-icon>
          <ion-label >
            Modulos
          </ion-label>
        </ion-item>
        <ion-item (click)="contactenos()" lines="full">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label>
            Contáctenos
          </ion-label>
        </ion-item>
        <ion-item (click)="tarifas()" lines="full">
          <ion-icon slot="start" name="cash-outline"></ion-icon>
          <ion-label>
            Tarifas
          </ion-label>
        </ion-item>
        <!-- <ion-item (click)="picoPlaca()" lines="full">
          <ion-icon slot="start" name="car-sport-outline"></ion-icon>
          <ion-label>
            Pico y Placa
          </ion-label>
        </ion-item> -->
        <ion-item (click)="ingresar()" lines="full">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          <ion-label>
            Ingresar
          </ion-label>
        </ion-item>

        <ion-item (click)="gps()" lines="full">
          <ion-icon slot="start" name="locate-outline"></ion-icon>
          <ion-label>
            GPS
          </ion-label>
        </ion-item>

        
      </ion-list>
    </ion-content>
  
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
  
</ion-content>
