<ion-header>
  <ion-toolbar class="backgroud-element-style">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>modulos</ion-title>
    <!-- <ion-menu-button slot="end"></ion-menu-button> -->
  </ion-toolbar>
</ion-header>

<ion-content class="backgroud-style card-background-page">
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
        <ion-list>
          <ion-item lines="none">
              <ion-icon  name="add"></ion-icon>
            <!-- <i class="fas fa-taxi" aria-hidden=true></i> -->
          </ion-item>
          <ion-item lines="none">
            <h1>
              Taxis
            </h1>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              Información Completa de sus vehículos, documentos en línea, recordatorios (por repuestos y kilometraje).
            </ion-label>
          </ion-item>
        </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>
            Conductores
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Información personal completa, ahorros, préstamos, abonos, seguridad social, tarifas incompletas y recordatorio en licencias de conducción.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>
            Entregas
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Tarifas incompletas, manejo de caja, turnos, pico y placa, anomalías en la entrega.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide> 

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>
            Gastos y Repuestos
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Estadísticas de gastos por duración (Km y Tiempo), por proveedor, por almacén (Con Inventario) y por marca. Revise las facturas de sus gastos en línea. Realice comparativos de los gastos de su flota. Tenga a la mano un pareto de los gastos más representativos para que tome acciones frente a ellos.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>
            Inventario
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Si usted maneja almacén, este módulo le ayudará a controlar el inventario, mantenerlo al día, valorarlo en todo momento y lo mejor, no hace reprocesos, todo está enlazado.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>
            Provedores
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Conoce las compras consolidadas por proveedor y producto en diferentes periodos de tiempo, haga comparativos entre ellos y eso le ayudará a tomar decisiones para realizar mejores negociaciones al momento de comprar.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>
            Recordatorios
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            El sistema le avisará el vencimiento de los documentos de sus vehículos, las licencias de los conductores, repuestos y mantenimientos (Tiempo y Km).
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>
            Consignaciones
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Reporte las consignaciones de las entregas, con la posibilidad de subir los comprobantes y tenerlos siempre a la mano.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>
            Informes
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Reportes consolidados y detallados (Acompañados de gráficos estadísticos) que le servirán para hacer las comparaciones necesarias para evaluar la rentabilidad de su negocio.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

  </ion-slides>
</ion-content>

