<ion-header>
  <ion-toolbar class="backgroud-element-style">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Modulos</ion-title>
    <!-- <ion-menu-button slot="end"></ion-menu-button> -->
  </ion-toolbar>
</ion-header>

<ion-content class="backgroud-style card-background-page">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <ion-list>
          <ion-item lines="none">
              <img src="../../../assets/img/iconos pagina web -01.png" alt="">
          </ion-item>
          <ion-item lines="none">
              <ion-label>
                <h1>
                  Taxis
                </h1>
              </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              Información Completa de sus vehículos, documentos en línea, recordatorios (por repuestos y kilometraje).
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-fab vertical="top" horizontal="end" slot="fixed">

          <ion-fab-button color="light">
            <ion-icon name="chevron-back-circle-outline"></ion-icon>
          </ion-fab-button>
      
          <ion-fab-list side="start">
            <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
            <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <img src="../../../assets/img/iconos pagina web -02.png" alt="">
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h1>
              Conductores
            </h1>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Información personal completa, ahorros, préstamos, abonos, seguridad social, tarifas incompletas y recordatorio en licencias de conducción.
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="top" horizontal="end" slot="fixed">

        <ion-fab-button color="light">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
          <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <img src="../../../assets/img/iconos pagina web -03.png" alt="">
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h1>
              Entregas
            </h1>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Tarifas incompletas, manejo de caja, turnos, pico y placa, anomalías en la entrega.
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="top" horizontal="end" slot="fixed">

        <ion-fab-button color="light">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
          <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide> 

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <img src="../../../assets/img/iconos pagina web -04.png" alt="">
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h1>
              Gastos y Repuestos
            </h1>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Estadísticas de gastos por duración (Km y Tiempo), por proveedor, por almacén (Con Inventario) y por marca. Revise las facturas de sus gastos en línea. Realice comparativos de los gastos de su flota. Tenga a la mano un pareto de los gastos más representativos para que tome acciones frente a ellos.
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="top" horizontal="end" slot="fixed">

        <ion-fab-button color="light">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
          <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <img src="../../../assets/img/iconos pagina web -05.png" alt="">
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h1>
              Inventario
            </h1>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Si usted maneja almacén, este módulo le ayudará a controlar el inventario, mantenerlo al día, valorarlo en todo momento y lo mejor, no hace reprocesos, todo está enlazado.
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="top" horizontal="end" slot="fixed">

        <ion-fab-button color="light">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
          <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <img src="../../../assets/img/iconos pagina web -06.png" alt="">
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h1>
              Provedores
            </h1>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Conoce las compras consolidadas por proveedor y producto en diferentes periodos de tiempo, haga comparativos entre ellos y eso le ayudará a tomar decisiones para realizar mejores negociaciones al momento de comprar.
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="top" horizontal="end" slot="fixed">

        <ion-fab-button color="light">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
          <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <img src="../../../assets/img/iconos pagina web -07.png" alt="">
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h1>
              Recordatorios
            </h1>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            El sistema le avisará el vencimiento de los documentos de sus vehículos, las licencias de los conductores, repuestos y mantenimientos (Tiempo y Km).
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="top" horizontal="end" slot="fixed">

        <ion-fab-button color="light">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
          <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <img src="../../../assets/img/iconos pagina web -08.png" alt="">
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h1>
              Consignaciones
            </h1>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Reporte las consignaciones de las entregas, con la posibilidad de subir los comprobantes y tenerlos siempre a la mano.
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="top" horizontal="end" slot="fixed">

        <ion-fab-button color="light">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
          <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item lines="none">
          <img src="../../../assets/img/iconos pagina web -09.png" alt="">
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h1>
              Informes
            </h1>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Reportes consolidados y detallados (Acompañados de gráficos estadísticos) que le servirán para hacer las comparaciones necesarias para evaluar la rentabilidad de su negocio.
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="top" horizontal="end" slot="fixed">

        <ion-fab-button color="light">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-list side="start">
          <ion-fab-button (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="instagram()" color="danger"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="whatsapp()" color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>

  </ion-slides>

</ion-content>

